# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
1week/huiwoo-jo/.DS_Store
1week/.DS_Store
.idea/GFD-Mobile.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/other.xml
.DS_Store
huiwoo-jo/.gradle/8.0/checksums/checksums.lock
huiwoo-jo/.gradle/8.0/checksums/md5-checksums.bin
huiwoo-jo/.gradle/8.0/checksums/sha1-checksums.bin
huiwoo-jo/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
huiwoo-jo/.gradle/8.0/dependencies-accessors/gc.properties
huiwoo-jo/.gradle/8.0/executionHistory/executionHistory.bin
huiwoo-jo/.gradle/8.0/executionHistory/executionHistory.lock
huiwoo-jo/.gradle/8.0/fileChanges/last-build.bin
huiwoo-jo/.gradle/8.0/fileHashes/fileHashes.bin
huiwoo-jo/.gradle/8.0/fileHashes/fileHashes.lock
huiwoo-jo/.gradle/8.0/fileHashes/resourceHashesCache.bin
huiwoo-jo/.gradle/8.0/gc.properties
huiwoo-jo/.gradle/buildOutputCleanup/buildOutputCleanup.lock
huiwoo-jo/.gradle/buildOutputCleanup/cache.properties
huiwoo-jo/.gradle/buildOutputCleanup/outputFiles.bin
huiwoo-jo/.gradle/config.properties
huiwoo-jo/.gradle/file-system.probe
huiwoo-jo/.gradle/vcs-1/gc.properties
huiwoo-jo/.idea/.name
huiwoo-jo/.idea/compiler.xml
huiwoo-jo/.idea/deploymentTargetSelector.xml
huiwoo-jo/.idea/gradle.xml
huiwoo-jo/.idea/inspectionProfiles/Project_Default.xml
huiwoo-jo/.idea/kotlinc.xml
huiwoo-jo/.idea/migrations.xml
huiwoo-jo/.idea/misc.xml
huiwoo-jo/.idea/modules/app/ComposeTemplate.app.iml
huiwoo-jo/.idea/other.xml
huiwoo-jo/.idea/vcs.xml
huiwoo-jo/homework/gitkeep
huiwoo-jo/local.properties
6week/.idea/misc.xml
6week/.idea/modules.xml
6week/.idea/other.xml
6week/.idea/vcs.xml
6week/.idea/misc.xml
6week/.idea/modules.xml
6week/.idea/other.xml
6week/.idea/vcs.xml
huiwoo-jo/.idea/workspace.xml
huiwoo-jo; compose/.gradle/8.0/executionHistory/executionHistory.bin
huiwoo-jo; compose/.gradle/8.0/fileHashes/fileHashes.bin
huiwoo-jo; compose/.gradle/8.0/executionHistory/executionHistory.lock
huiwoo-jo; compose/.gradle/8.0/fileHashes/fileHashes.lock
huiwoo-jo; compose/.gradle/8.0/fileHashes/resourceHashesCache.bin
huiwoo-jo; compose/.gradle/buildOutputCleanup/buildOutputCleanup.lock
huiwoo-jo; compose/.gradle/buildOutputCleanup/outputFiles.bin
huiwoo-jo; compose/.gradle/file-system.probe
huiwoo-jo; compose/.idea/assetWizardSettings.xml
huiwoo-jo; compose/.idea/gradle.xml
huiwoo-jo; compose/.idea/huiwoo-jo; compose.iml
huiwoo-jo; compose/.idea/misc.xml
huiwoo-jo; compose/app/src/main/res/values/refs.xml
huiwoo-jo; compose/.gradle/8.0/executionHistory/executionHistory.bin
huiwoo-jo; compose/.gradle/8.0/executionHistory/executionHistory.lock
huiwoo-jo; compose/.gradle/8.0/fileHashes/fileHashes.bin
huiwoo-jo; compose/.gradle/8.0/fileHashes/fileHashes.lock
huiwoo-jo; compose/.gradle/8.0/fileHashes/resourceHashesCache.bin
huiwoo-jo; compose/.gradle/buildOutputCleanup/buildOutputCleanup.lock
huiwoo-jo; compose/.gradle/buildOutputCleanup/outputFiles.bin
huiwoo-jo; compose/.gradle/8.0/executionHistory/executionHistory.bin
huiwoo-jo; compose/.gradle/8.0/executionHistory/executionHistory.lock
huiwoo-jo; compose/.gradle/8.0/fileHashes/fileHashes.bin
huiwoo-jo; compose/.gradle/8.0/fileHashes/fileHashes.lock
huiwoo-jo; compose/.gradle/buildOutputCleanup/buildOutputCleanup.lock
huiwoo-jo; compose/app/src/main/res/drawable/sample_image.jpeg
huiwoo-jo; compose/app/src/main/res/drawable/sample_image.png
